// wyld_dm_right.overlay

#include "wyld_dm.dtsi"

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
			= <&pro_micro 1 (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>
			, <&pro_micro 0  (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>
			, <&pro_micro 2  (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>
			, <&pro_micro 3  (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>
			, <&pro_micro 4  (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>
            , <&pro_micro 5  (GPIO_PULL_DOWN | GPIO_ACTIVE_HIGH)>
			;
};

